<h1>Decision Tree HQ</h1>
<div class="container col-md-6" ng-if="hc.loggedIn.value">
  <h2>My Trees</h2>

  <div class="tree-list-container">
    <div class="tree-listing" ng-repeat="tree in hc.treeArray.list">
      <h3>{{tree.tree_name}}</h3>
      <p>
        <a ng-href="#!edit/{{tree.id}}">Edit This Tree</a>
      </p>
      <p>
        <a ng-href="#!view/{{tree.id}}">View This Tree</a>
      </p>
      <p>
        <input type="checkbox" name="make-public" ng-model="tree.public" ng-change="hc.makePublic(tree.id)">
        <label for="make-public">Publicly Viewable</label>
      </p>

      <span><button class="btn btn-danger" ng-click="hc.deleteTree(tree.id)">X</button></span>

    </div>
    <form class= "form-group">
      <input type="text" class="form-control" ng-model="hc.newTree.treeName">
      <button type="submit" class="btn btn-primary" ng-click="hc.addTree(hc.newTree)">Create Decision Tree</button>
    </form>
  </div>
</div>

<div class="container col-md-6" ng-include="'views/global-list-view.html'" ng-controller= "GlobalListController as glc">
</div>
