<h1>Decision Tree HQ</h1>
<div ng-if="hc.treeArray.loggedIn">
  <h2>My Trees</h2>
  <input type="text" ng-model="hc.newTree.treeName">
  <button ng-click="hc.addTree(hc.newTree)">Add Decision Tree with this name</button>

  <div ng-repeat="tree in hc.treeArray.list track by $index">
    <h3>{{tree.tree_name}}</h3>
    <a ng-href="#!edit/{{tree.id}}">Edit This Tree</a>
    <a ng-href="#!view/{{tree.id}}">View This Tree</a>
    <button ng-click="hc.deleteTree(tree.id)">Delete</button>
  </div>
</div>
