<div class="container">

<img src="../../styling/images/tree.png" alt="Tree" class="image">
<h1 class="splash-label">Decision Tree Creator</h1>

<table class="table" align="center">
  <thead>
    <tr>
      <th class="col-xs-3"><button type="button" class="intro" id="treeBuilder" ng-click="lc.startTreeEditor()"><img src="../../styling/fonts/glyphicon-decision-tree.png" alt="Start Tree Editor"></button></th>
      <th class="col-xs-3"><button type="button" class="intro" id="loginToHQ" ng-click="lc.goToHQFromLogin()"><img src="../../styling/fonts/glyphicon-home.png" alt="Home Login"></button></th>
      <th class="col-xs-3"><button type="button" class="intro" id="viewGlobals" ng-click="lc.viewGlobals()"><img src="../../styling/fonts/glyphicons-globe.png" alt="View Public Trees"></button></th>
    </tr>

  </thead>
  <tbody>
    <tr>
      <td class="col-xs-3"><label id="label1" for= "treeBuilder">Build a Tree</label></td>
      <td class="col-xs-3"><label id="label2" for= "loginToHQ">Login to HQ</label></td>
      <td class="col-xs-3"><label id="label3" for= "viewGlobals">View Global Trees</label></td>
    </tr>

  </tbody>
</table>
</div>
