<h1>Node Editor</h1>

<h2>Node: {{nec.nodeInfo.node[0].content}}</h2>
<div class="responses">
  <h2>Responses:</h2>
  <div ng-repeat= "response in nec.nodeInfo.responses">
    <span>
      <h3>{{response.response_text}}</h3>
      <button type="button" ng-click="nec.deleteResponse(response.id)">X</button>
    </span>
  </div>
  <input type="text" ng-model="nec.newResponse">
  <button type="button" ng-click="nec.addResponse(nec.newResponse)">Add Response</button>
</div>

<h4>{{nec.nodeInfo.responses}}</h4>
