<h1>Node Editor</h1>

<h2>Editing Node: {{nec.nodeInfo.node[0].content}}</h2>
<table class="node-editor">
  <thead>
    <tr>
      <th>Response</th>
      <th></th>
      <th></th>
      <th></th>
      <th>Follow-Up Node</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <!-- Repeats across known responses for this node -->
    <tr ng-repeat= "response in nec.nodeInfo.responses">
      <!-- Each response is editable -->
      <td onaftersave="nec.editResponseText(response)" editable-textarea="response.response_text">{{response.response_text}}</td>
      <!-- And deletable -->
      <td>
        <button type="button" class="btn btn-danger" ng-click="nec.deleteResponse(response.id)">X</button>
      </td>
      <td> <span class="glyphicon glyphicon-triangle-right"></span></td>


      <!-- Possible to select existing nodes -->
      <td>
        <label ng-if="!response.to_node_id">
          <input type="checkbox" ng-model="nec.selectPrevious[$index]">
          Use existing node
        </label>
      </td>
      <!-- If the response already has to_node_id, this field should have the existing follow up question-->
      <td ng-if="response.to_node_id" onaftersave="nec.updateNodeContent(nec.nodeInfo.followUpQuestions[$index])"  editable-textarea="nec.nodeInfo.followUpQuestions[$index].content">
        {{nec.nodeInfo.followUpQuestions[$index].content}}
      </td>

      <td ng-if="!response.to_node_id">

        <textarea ng-show="!nec.selectPrevious[$index]"  type="text-area" class="form-control" ng-model="nec.followUpQuestion[$index]" placeholder="follow-up node"></textarea>

        <select ng-show="nec.selectPrevious[$index]" ng-model="nec.selectedExistingNode[$index]" ng-options="node.content for node in nec.treeNodes.nodeInfo" value="{{node}}">
        </select>

      </td>
      <td>
        <button ng-show="!nec.selectPrevious[$index]" ng-if="!response.to_node_id" type="button" class="btn btn-info" ng-click="nec.addNodeToResponse(nec.followUpQuestion[$index], response.id)">Save</button>

        <button ng-show="nec.selectPrevious[$index]" type="button" class="btn btn-info" ng-click="nec.selectExistingNode(nec.selectedExistingNode[$index].id, response.id)">Save</button>
      </td>
      <td> <span class="glyphicon glyphicon-triangle-right"></span></td>
      <td>
        <button ng-if="response.to_node_id" type="button" class="btn btn-primary" ng-click="nec.followNode(response.to_node_id)">Go to this Node</button>
      </td>
    </tr>

    <tr>
      <td>
        <form class="form-inline" ng-submit="nec.addResponse(nec.newResponse)">
          <input type="text" class="form-control" ng-model="nec.newResponse">
          <button type="submit" class="btn btn-default">Add Response Option</button>
        </form>

      </td>
    </tr>
  </tbody>
</table>








<!-- {{nec.treeNodes.nodeInfo}} -->


<!-- <input list="testList" type="" ng-model="nec.selectedNode" ng-change="LoadSessionData(SelectedDoctor)" />
<datalist id="testList">
    <option ng-repeat="x1 in names" value="{{x1.drname}}">
</datalist> -->

<!-- //data for ng-repeat
    $scope.names=[{'drname':'Dr.Test1'},{'drname':'Dr.Test2'},{'drname':'Dr.Test3'}]

    $scope.LoadSessionData = function(val) {
//console log
        console.log(val);
} -->
