<h1>Tree Editor</h1>
<div ng-if="!tec.treeData.treeInfo">
  <input type= "text" ng-model="tec.newTree.treeName" class="form-control input-lg" placeholder="Enter New Tree Name">
  <button class="btn btn-primary" ng-click="tec.saveTreeName('new', tec.newTree)">Save</button>
</div>
<div ng-if="tec.treeData.treeInfo">
  <h2>Editing Tree: <span editable-text="tec.treeData.treeInfo[0].tree_name" onaftersave="tec.saveTreeName(tec.treeData.treeInfo[0].id, tec.treeData.treeInfo[0].tree_name)">{{tec.treeData.treeInfo[0].tree_name}}</span></h2>
  <p><a ng-href="#!view/{{tec.treeData.treeInfo[0].id}}">View This Tree</a></p>
</div>
<table class= "table">
 <thead>
   <tr>
     <th>Question Node(s)</th>
     <th>Add/Edit Responses</th>
     <th>Delete</th>
   </tr>
 </thead>
 <tbody>
   <tr ng-repeat="node in tec.treeData.nodeInfo">
     <td onaftersave="tec.updateNodeName(node)" editable-textarea="node.content">
       {{node.content}}
     </td>
     <td>
       <a ng-href="#!edit/{{node.tree_id}}/{{node.id}}">Build Branch</a>
     </td>
     <td>
       <button type="button" name="button" class= "btn btn-danger" ng-click="tec.deleteNode(node.id)">X</button>
     </td>
   </tr>
   <tr>
     <td>
       <form class="form-inline">
         <textarea placeholder="Add New Question Node" wrap="soft" class="form-control input-md" ng-model="tec.newNode"></textarea>
         <button type="submit" name="button" class= "btn btn-primary" ng-click="tec.addNodeToTree(tec.newNode)">Add</button>
       </form>

     </td>

   </tr>
 </tbody>
</table>
