<div class="container text-center">
  <h2 ng-class= "{'tree-end': gvc.fullTree.nodeInfo[gvc.nodeIndex].options.length==0 }">{{gvc.fullTree.nodeInfo[gvc.nodeIndex].content}}</h2>
</div>

<div class="container text-center">
<span ng-repeat="option in gvc.fullTree.nodeInfo[gvc.nodeIndex].options">
  <button class="btn btn-lg" ng-click="gvc.setDisplay(option.toId)">{{option.text}}</button>
</span>
</div>

<div class="container text-center">
  <p ng-if="gvc.fullTree.nodeInfo[gvc.nodeIndex].options.length==0">[Tree End]</p>
</div>

<div class="container text-center" ng-if="gvc.indexPath.length>0">
  <button class= "btn back" ng-click="gvc.goBack()"><img src="../../styling/fonts/glyphicon-arrow-left.png" alt="previous question"></button>
</div>


<h4 class="baseline">Viewing Tree: {{gvc.fullTree.name}}</h4>
