<nav class="navbar" ng-controller="LoginController as lc">
<div>
  <div class="container-fluid">
    <div class="navbar-header" ng-if="lc.loggedIn.value">
      <a class="link" href="#!hq"><img src="../../styling/fonts/glyphicon-home.png" alt="Home"></a>
    </div>
    <div class="navbar-header">
      <a class="link" href="#!global"><img src="../../styling/fonts/glyphicons-globe.png" alt="View Public Trees"></a>
    </div>
    <div class="login-buttons" style="display: inline-block;">
      <ul class= "nav navbar-nav ">
        <li><button ng-click="lc.logIn()" class="button login" ng-if="!lc.loggedIn.value">Log In</button></li>
        <li><button ng-click="lc.logOut()" class="button login" ng-if="lc.loggedIn.value">Log Out</button></li>
      </ul>
  </div>
  </div>
</div>
</nav>
