/*Much styling needs to happen here*/
body {
  background-color: #f8ffe6 ;
  }

.image {

  text-align: center;
  margin: 0 auto;
  width: 50%;
  padding: 20px;
  display: block;
}

h1{
  text-align: center;
  padding-bottom: 30px;
}

table{
  text-align: center;
  border-bottom: none !important;
}

th{
  text-align: center !important;
  border-bottom: none !important;
  margin: 0 auto;
}

td{
  border-top: none !important;
}

.tree-list-container {
  border: 1px solid black;
  border-radius: 5px;
}

.tree-end {
  background-color: #81d5aa;
}

.intro {
  margin: 0px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}

.login-buttons {
float: right;
}

.login {
color: blue;
background: transparent;
border: 0;
margin-left: 10px;
}

.back {
margin: 20px;
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
outline: none;
border: 0;
background: transparent;
}
